
click
coverage
pyyaml~=6.0
tqdm~=4.65.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.2+cpu
matplotlib~=3.7.1
setuptools~=65.6.3
wandb
tox
fastapi
uvicorn
pillow~=9.4.0
dvc
python-multipart